/*************************************************
**************************************************
@font-face 
***************************************************
**************************************************/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/****************************************************
*****************************************************

Variables

*****************************************************
*****************************************************/
/****************************************************
*****************************************************

Mixins

*****************************************************
*****************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #262932;
  color: #fff;
  font-family: 'Montserrat';
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
/****************************************************
*****************************************************

Header

*****************************************************
*****************************************************/
header {
  width: 900px;
  height: 100px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  header {
    width: 90%;
  }
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: 700;
}
nav a {
  padding-right: 45px;
  text-decoration: none;
  color: #fff;
}
nav a:last-child {
  padding-right: 0;
}
nav a:hover {
  text-decoration: underline;
  color: #2C982A;
  cursor: pointer;
}
/****************************************************
*****************************************************

top-content-bg-img

*****************************************************
*****************************************************/
.top-content {
  background-color: #f2f2f2;
  width: 900px;
  margin: 0 auto;
  color: #262932;
  border-radius: 4px;
}
@media (max-width: 900px) {
  .top-content {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .top-content-bg-img {
    text-align: center;
  }
}
.top-content-bg-img img {
  max-width: 100%;
  height: auto;
  margin: 40px 0 10px 20px;
  border-radius: 4px;
}
.top-content-bg-img h1 {
  font-size: 36px;
  font-weight: 700;
  width: 96%;
  margin: 0 auto;
  color: #2C982A;
}
.top-content-bg-img p {
  width: 96%;
  margin: 10px auto;
}
.top-content-bg-img button {
  background-color: #2C982A;
  margin: 0 0 20px 20px;
  border-radius: 4px;
  padding: 12px 32px;
  font-size: 18px;
}
.top-content-bg-img button:hover {
  background-color: #262932;
}
.top-content-bg-img button a {
  text-decoration: none;
  color: #fff;
}
/****************************************************
*****************************************************

about-section

*****************************************************
*****************************************************/
.about-section {
  margin: 20px auto;
  width: 900px;
  border-bottom: 1px solid #2C982A;
}
@media (max-width: 900px) {
  .about-section {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .about-section {
    width: 90%;
  }
  .about-section h2 {
    text-align: center;
  }
  .about-section p {
    text-align: center;
  }
}
.about-section h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2C982A;
  width: 96%;
  margin: 0 auto;
}
.about-section p {
  width: 96%;
  margin: 15px auto;
}
/****************************************************
*****************************************************

skills-section

*****************************************************
*****************************************************/
.skills-section {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 900px;
  border-bottom: 1px solid #2C982A;
}
@media (max-width: 900px) {
  .skills-section {
    width: 90%;
  }
}
@media (max-width: 868px) {
  .skills-section {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .skills-section {
    width: 90%;
    text-align: center;
  }
}
.skills-section h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2C982A;
  width: 96%;
  margin: 0 auto;
}
.skills-section h3 {
  text-align: center;
  margin-top: 20px;
}
.skills-section a {
  text-decoration: none;
  color: #fff;
  width: 96%;
  margin: 15px auto;
  flex-direction: column;
  text-align: center;
}
.skills-section a:hover {
  text-decoration: underline;
  color: #2C982A;
  cursor: pointer;
  text-decoration: none;
}
/****************************************************
*****************************************************

work-history

*****************************************************
*****************************************************/
.work-history {
  margin: 20px auto;
  width: 900px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2C982A;
}
@media (max-width: 900px) {
  .work-history {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .work-history {
    width: 90%;
  }
  .work-history h2 {
    text-align: center;
  }
  .work-history th {
    width: 90%;
    margin: 0 auto;
  }
}
.work-history h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2C982A;
  width: 96%;
  margin: 0 auto;
  margin: 15px auto;
}
.work-history table {
  width: 96%;
  margin: 0 auto;
}
.work-history th {
  font-size: 20px;
  font-weight: 700;
  color: #2C982A;
  padding-bottom: 10px;
}
.work-history tr {
  width: 900px;
}
.work-history td {
  padding: 10px 10px 10px 10px;
}
.bg-color-table {
  background-color: #f2f2f2;
  color: #262932;
  margin: 10px 10px;
}
/****************************************************
*****************************************************

contact-section

*****************************************************
*****************************************************/
.contact-section {
  margin: 20px auto;
  width: 900px;
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .contact-section {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .contact-section {
    width: 90%;
  }
  .contact-section h2 {
    text-align: center;
  }
  .contact-section a li {
    text-align: center;
  }
}
.contact-section h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2C982A;
  width: 96%;
  margin: 0 auto;
}
.contact-section a li {
  text-decoration: none;
  color: #fff;
  width: 96%;
  margin: 15px auto;
}
.contact-section a li:hover {
  text-decoration: underline;
  color: #2C982A;
  cursor: pointer;
}
/****************************************************
*****************************************************

footer

*****************************************************
*****************************************************/
footer {
  margin: 20px auto;
  width: 900px;
  text-align: center;
  background-color: #2C982A;
  padding: 20px;
}
@media (max-width: 900px) {
  footer {
    width: 90%;
  }
}
